<header class="header">
    <h1 class="logo"><a href="#">Compline</a></h1>
    <ul class="main-nav">
        <li>@Html.ActionLink("Lista de Tarefas","Index","ListaDeTarefas")</li>
    </ul>
</header>
